/* This code develope by AorJoa : Bhuridech Sudsee
	website : aorjoa.blogspot.com , www.i-aor.com
	Free license for non-comercial or conmercial use.
*/

.ballLogo h1 {
	font-family: 'League Script', cursive;
	margin-top: -8px;
}

.fade-in{
	-webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}
.layout-main {
	width: 800px;
	height: 420px;
	border-radius: 10px;
	margin-left: 80px;
	cursor:pointer;cursor:hand;
}
.ball{
	border-radius: 100%;
	border-width: 8px;
	border-style: solid;
	border-color: transparent;
	margin-left: 80px;
	margin-top: 100px;
	float: left;
	width: 180px;
	height: 180px;
	text-align: center;
	cursor:pointer;cursor:hand;
	position: absolute;
	display: inline-block;
}
.ball h1 {
	color: transparent;
}
.layout-main:hover .ball h1 {
	color: black;
}
.aboutme{
	top:10px;
	left:50px;
}
.layout-main:hover  .aboutme{
	background: red;
}
.aboutme:hover{
	border-color: white;
}
.showcase{
	top:10px;
	left:280px;
}
.layout-main:hover .showcase{
	background: #add8e6;
}
.showcase:hover{
	border-color: white;
}
.blog{
	top:10px;
	left:510px;
}
.layout-main:hover .blog{
	background: #bf7fbf;
}
.blog:hover{
	border-color: white;
}
.ball h1{
	font-family: 'League Script', cursive;
	margin-top: 40%;
}
.logo{
	border-radius: 100%;
	border-width: 8px;
	border-style: solid;
	border-color: white;
	margin-top: 10px;
	margin-left: 80px;
	width: 420px;
	height: 420px;
	background: #ffe900;
}
.pic{
	border-radius: 8px;
	border-width: 8px;
	background-repeat: no-repeat;
	width: 500px;
	height: 140px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	margin-left: 480px;
	margin-top: -228px;
}
.layout-main:hover .logo{
	-webkit-transform: translate(40em,0);
    -moz-transform: translate(40em,0);
    -o-transform: translate(40em,0);
    -ms-transform: translate(40em,0);
    transform: translate(40em,0);
}
.layout-main:hover{
	background: #c9e52a;
}
.logo div {
	padding-top: 35%;
	text-align: center;
}
.dataFrame{
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding:50px 50px 50px 50px;
	border-radius: 8px;
	border-width: 8px;
	box-shadow: 0 0 8px rgba(255, 20, 147, .8);
	-webkit-box-shadow: 0 0 8px rgba(255, 20, 147, .8);
	-moz-box-shadow: 0 0 8px rgba(255, 20, 147, .8);
	display: none;
}
span{
	font-family:"Arial","Helvetica",sans-serif;
}
body{
	overflow-x: hidden;
}